html {
    line-height: 1.4;
    font-size: 2.5vh;
    color: #222;
}

p {
    font-family: Georgia,"Times New Roman",serif;
    text-align: justify;
    font-size: 1rem;
}

header {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 {
    font-size: 2rem;
}



ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-image: linear-gradient(darkred, black);
}

article {
    padding: 2.5%;
    padding-top: 1%;
    background: white;
    margin: 5% 5% 5% 5%;
    border: solid 3px black;
    max-width: 100%;
}

#date {
    font-size: .9rem;
    font-weight: bold;
    color: grey;
}

#mainArticle :first-child::first-letter {
    border: solid 2px darkred;
    background-size: cover;
    float: left;
    padding: 3%;
    margin-right: .5rem;
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    background-image: url(../images/tree-of-death.jpg);
}

#mainArticle :first-child::first-line {
    font-variant: small-caps;
}

#comparison {
    float: right;
    width: 60%;
}

#xerxes {
    float: left;
    margin-right: 5px;
}

#movieName {
    color: red;
}

#cliff {
    width: 100%;
    border: solid 1px darkred;
    margin-top: 2%;
}

#Rating {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 1rem;
}

#footnote {
    font-size: .75rem;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}